# .env file

OPENAI_API_KEY=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

# Admin access configuration
ADMIN_PASSWORD=upaupatralala
ADMIN_TOKEN_SECRET=nexy-token-secret
# Server port
PORT=3000
