body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.title {
  font-family: serif;
  font-size: 48px; /* Adjust the size as needed */
  text-align: center;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 142px; /* Adjust the size as needed */
  height: auto;
  margin-right: 10px; /* Adjust the spacing as needed */
}

.container {
  width: 80%;
  margin: 0 auto;
}
.post,
.comment {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

input,
textarea,
button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
